* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

input, textarea {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}

label {
    padding: 0.5rem;
}

a {
    text-decoration: none;
    border: none;
}
img {
    transition: transform .5s;
    transition: transform .65s, visibility .65s ease-in;
    overflow: hidden;
}

html {
    overflow-x: hidden;
}

img:hover {
    transform: scale(1.1) rotate(1deg); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}