@media (max-width: 890px) {
    .hide {
        display: none;
    }
    .f-15 {
        font-size: 10px;
    }
    .f-20 {
        font-size: 15px;
    }
    .f-25 {
        font-size: 20px;
    }    
    .f-30 {
        font-size: 25px;
    }    
    .f-35 {
        font-size: 30px;
    }

    .f-45 {
        font-size: 30px;
    }
    .super-container {
        height: auto;
    }
    .message {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: block;
    }
    .p-2 {
        padding: 1rem;
    }
    #contact {
        padding: 0;
        margin: 0;
    }
    .navbar {
        display: flex;
        color: #282828;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        justify-content: space-between;
    }
    .nav-items {
        display: none;
    }
    .img-none img {
        display: none;
    }
    #contact {
        overflow-x: hidden;
    }
    #contact input {
        width: 85%;
    }
    #contact textarea {
        width: 85%;
    }
    .hide {
        display: block;
        font-size: 30px;
        margin-top: 10px;
        cursor: pointer;
    }
}

@media (max-width: 1500px) {
    .img-none {
        display: none;
    }
}

.nav-active {
    transform: translateX(0%);
    transition: transform 0.5s ease-out;
}