.navbar {
    display: flex;
    margin-top: 2rem;
    margin-left: 7rem;
    margin-right: 7rem;
    justify-content: space-between;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-items, .desc {
    display: flex;
    align-items: center;
}

.home {
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.in-flex {
    flex: 1;
}

.in-flex:first-child {
    flex: 2;
    min-width: 250px;
}

.in-flex div {
    padding: 1rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    border: none;
    border-radius: 20px;
}

.project-plus {
    flex: 1;
}

.super-container {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}

.message {
    display: none;
    position: absolute;
    left: 88%;
    transform: translateX(-88%);
}

.form-container {
    display: grid;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-send {
    border: none;
    border-radius: 20px;
    font-size: 15px;
}

button:hover {
    cursor: pointer;
}

.nav-item {
    padding: 1rem;
}

.img-none {
    width: 100%;
    margin-bottom: 10px;
}

.hide {
    display: none;
}

footer {
    width: 100%;
    display: flex;
    height: 200px;
}

.project-plus:hover {
    box-shadow: 1px solid #1e1e1e;
}