.p-0-5 {
    padding: 0.5rem;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.m-auto {
    margin: auto;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 2rem;
}

.m-t-3 {
    margin-top: 3rem;
}

.m-t-1 {
    margin-top: 1rem;
}